<!-- ABOUT -->
<section class="about" id='about'>
	<div class="about__bg">
		<img src="img/index/section-about/bg.png" alt="">
	</div>
	<div class="about__container">
		<div class="about__body">
			<div class="about__img">
				<img src="img/index/section-about/img_1.png" alt="">
			</div>
			<div class="about__main">
				<div class="about__uptitle">Меня зовут</div>
				<h2 class="about__title">Андрей
					Кулагин </h2>
				<div class="about__stats">
					@@include('./about_item.html', {
					"icon": "img/index/section-about/icon_1.svg",
					"text": "<span>Проработал страхи</span> у 18 человек"
					})

					@@include('./about_item.html', {
					"icon": "img/index/section-about/icon_2.svg",
					"text": "<span>Проработал ограничивающие убеждения</span> у 26 человек"
					})

					@@include('./about_item.html', {
					"icon": "img/index/section-about/icon_3.svg",
					"text": "5 человек после гипно коучинга <span>увеличили свой доход</span> в среднем в 1,5 раза и 2 открыли бизнес"
					})
				</div>
			</div>
			<div class="about__card card-about">
				<div class="card-about__inner">
					<div class="card-about__element">
						<img src="img/index/section-about/element.svg" alt="">
					</div>
					<div class="card-about__title">Как я работаю:</div>
					<div class="card-about__subtitle">
						Я аккуратно работаю
						напрямую
						с подсознанием,
					</div>
					<p class="card-about__text">
						обходя блокировки мозга
						и рационального мышления, с помощью погружения в состояние транса.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /ABOUT -->