<!-- PRINCIPLE SECTION -->
<section class="principle">
	<div class="principle__container-sm">
		<div class="principle__body">
			<div class="principle__top">
				<img src="img/index/section-principle/icon.svg" alt="">
				<h2 class="principle__title">
					Мой принцип
				</h2>
				<img src="img/index/section-principle/icon.svg" alt="" style='transform: scale(-1, 1);'>
			</div>
			<div class="principle__quote">
				<p>« Если человек которому ты взялся помочь
					не получает результат, <span style='font-weight: 600; color: #F9F9F9;'>лучше верни деньги,
						чем быть шарлатаном.</span> »</p>
			</div>
		</div>
	</div>
</section>
<!-- PRINCIPLE SECTION -->