<!-- REVIEWS -->
<section class="reviews" id='reviews'>
	<div class="reviews__bg reviews__bg_bottom">
		<img data-src="img/index/section-reviews/bg_bottom.png" alt="">
	</div>
	<div class="reviews__element reviews__element_left">
		<img data-src="img/index/section-reviews/element_1.svg" alt="">
	</div>
	<div class="reviews__element reviews__element_right">
		<img data-src="img/index/section-reviews/element_2.svg" alt="">
	</div>
	<div class="reviews__container">
		<div class="reviews__body">
			<div class="reviews__bg reviews__bg_top">
				<img data-src="img/index/section-reviews/bg_top.png" alt="">
			</div>
			<h2 class="reviews__title">
				Отзывы
			</h2>
			<div class="reviews__outer">
				<div class="reviews__slider swiper">
					<div class="reviews__grid swiper-wrapper">
						@@include('./reviews_item.html', {
						"title": "Есения Вальковская",
						"img": "img/index/section-reviews/img_1.png",
						"city": "Россия <br> г. Сургут",
						"text_1": "Проблемой мало денег. Клиентов мало, забот много.",
						"text_2": "Клиенты пришли, выручка увеличилась",
						"text_3": "“Клиенты, в буквальном смысле стали появляться.”",
						})

						@@include('./reviews_item.html', {
						"title": "Татьяна Шевчук",
						"img": "img/index/section-reviews/img_2.png",
						"city": "Россия <br> г. Волгоград",
						"text_1": "Проблемой мало денег. Клиентов мало, времени нет, ничего не успеваю.",
						"text_2": "Собрала 2 группы на свои занятия. И продолжает развитие бизнеса.",
						"text_3": "“Андрей убрал все негативные программы из подсознания, мягко и корректно”",
						})

						@@include('./reviews_item.html', {
						"title": "Елена Фукс",
						"img": "img/index/section-reviews/img_3.png",
						"city": "Канада <br> г. Ла Брокери",
						"text_1": "Очень быльшие финансовые сложности.Куча долгов. Кредит. Всё на мне одной.",
						"text_2": "Клиенты пришли, выручка увеличилась",
						"text_3": "“Осознала, что тормоз к своему будущему я сама”",
						})

						@@include('./reviews_item.html', {
						"title": "Алеся Болдарева",
						"img": "img/index/section-reviews/img_4.png",
						"city": "Россия <br> г. Краснодар",
						"text_1": "Была сонная уставшая, постоянное состояние вялости и стресса",
						"text_2": "Полная энергии и жизненного счастья",
						"text_3": "“Потенциал вырос, силы есть, настрой есть.”",
						})
					</div>
				</div>
				<div class="reviews__prev reviews__arrow arrow button">
					<div class="button__inner">
						<img loading='lazy' data-src="img/icons/arrow.svg" alt="">
					</div>
				</div>
				<div class="reviews__next reviews__arrow arrow button">
					<div class="button__inner">
						<img loading='lazy' data-src="img/icons/arrow.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /REVIEWS -->