<div class="reviews__item item-reviews swiper-slide">
	<div class="item-reviews__title">@@title</div>
	<div class="item-reviews__img">
		<img src="@@img" alt="">
		<div class="item-reviews__city">
			<img src="img/index/section-reviews/location.svg" alt="">
			<span>@@city</span>
		</div>
	</div>
	<div class="item-reviews__content">
		<div class="item-reviews__block">
			<div class="item-reviews__label">Пришла с</div>
			<p class="item-reviews__text">@@text_1</p>
		</div>
		<div class="item-reviews__block">
			<div class="item-reviews__label">Результат</div>
			<p class="item-reviews__text">@@text_2</p>
		</div>
		<div class="item-reviews__block">
			<div class="item-reviews__label">Слова после работы</div>
			<p class="item-reviews__text">@@text_3</p>
		</div>
	</div>
	<div class="item-reviews__review">
		<div class="item-reviews__label">Видео отзыв:</div>
		<div class="item-reviews__video video">
			<video src="img/video.mp4" preload='metadata'></video>
			<div class="item-reviews__overlay video__overlay">
				<div class="item-reviews__play video__play">
					<img src="img/icons/play.svg" alt="">
				</div>
			</div>
		</div>
	</div>
	<a href="#popup_contact" class="popup-link item-reviews__button button">
		<span class="item-reviews__button-inner button__inner">
			<span>Связаться</span>
			<img src="img/icons/email.svg" alt="">
		</span>
	</a>
</div>