<!-- MISSION -->
<section class="mission">
	<div class="mission__container">
		<div class="mission__body">
			<div class="mission__img">
				<img src="img/index/section-mission/img_1.png" alt="">
			</div>
			<div class="mission__main main-mission">
				<div class="main-mission__top">
					<div class="main-mission__img">
						<img src="img/index/section-mission/icon_1.svg" alt="">
					</div>
					<h2 class="main-mission__title">
						Моя миссия:
					</h2>
				</div>
				<div class="main-mission__items">
					<div class="main-mission__item item-main-mission">
						<div class="item-main-mission__icon">
							<img src="img/index/section-mission/icon_2.svg" alt="">
						</div>
						<div class="item-main-mission__content">
							<div class="item-main-mission__title">
								Доводить до результата,
							</div>
							<p class="item-main-mission__text">
								тех кто хочет поменять жизнь
							</p>
						</div>
					</div>

					<div class="main-mission__item item-main-mission">
						<div class="item-main-mission__icon">
							<img src="img/index/section-mission/icon_3.svg" alt="">
						</div>
						<div class="item-main-mission__content">
							<div class="item-main-mission__title">
								Сделать человека полноценной личностью
							</div>
							<p class="item-main-mission__text">
								через проработку и формирование внутренних убеждений
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="mission__card card-mission">
				<p class="card-mission__text">
					Убирая блоки у людей, <span>я помогаю им получить новую качественную жизнь.</span>
				</p>
				<p class="card-mission__text">
					Это позволяет людям избавиться от блоков, реализовать себя, свои мечты.
				</p>
				<p class="card-mission__text">
					<span>Открывать людям самих себя</span> — это моя главная миссия.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- /MISSION -->