<section class="guarantees">
	<div class="guarantees__container-sm">
		<div class="guarantees__body">
			<h2 class="guarantees__title">ПОЧЕМУ Я ДАЮ ТАКИЕ <span style='color: #F9F9F9;'>ГАРАНТИИ</span>?</h2>
			<div class="guarantees__items">
				<div class="guarantees__item">
					<div class="guarantees__img">
					<img src='img/plug.png' data-src="img/index/section-guarantees/img_01.jpg" width='105' height='105' alt="">
					</div>
					<p class="guarantees__text">Я на сто процентов <b>уверен</b> в методиках которыми работаю.</p>
				</div>

				<div class="guarantees__item">
					<div class="guarantees__img">
					<img src='img/plug.png' data-src="img/index/section-guarantees/img_02.jpg" width='105' height='105' alt="">
					</div>
					<p class="guarantees__text"><b>Работаю с тобой лично</b>, один на один и веду тебя буквально
						за руку до результата, и не даю тебе слиться.</p>
				</div>

				<div class="guarantees__item">
					<div class="guarantees__img">
					<img src='img/plug.png' data-src="img/index/section-guarantees/img_03.jpg" width='105' height='105' alt="">
					</div>
					<p class="guarantees__text">Потому, что у меня есть личные <b>жизненные принципы</b> которые позволяют мне
						жить в кайф.</p>
				</div>
			</div>
		</div>
	</div>
</section>