<!-- TARIFFS -->
<div class="tariffs">
	<div class="tariffs__bg tariffs__bg_top">
		<img src='img/plug.png' data-src="img/index/section-tariffs/bg_top.png" alt="">
	</div>
	<div class="tariffs__bg tariffs__bg_bottom">
		<img  src='img/plug.png' data-src="img/index/section-tariffs/bg_bottom.png" alt="">
	</div>
	<div class="tariffs__container">
		<div class="tariffs__body">
			<div class="tariffs__element tariffs__element_left">
				<img  src='img/plug.png' data-src="img/index/section-tariffs/element_1.svg" alt="">
			</div>
			<div class="tariffs__element tariffs__element_right">
				<img  src='img/plug.png' data-src="img/index/section-tariffs/element_2.svg" alt="">
			</div>
			<div class="tariffs__outer">
				<div class="tariffs__slider swiper">
					<div class="swiper-wrapper">
						@@include('./tariffs_slide.html', {
						"title": "Без оплатная",
						"subtitle": "стратегическая сессия",
						"img": "img/index/section-tariffs/img_1.jpg",
						"banner": "free",
						"content_title_1": "Быстрое выявление ваших сильных сторон:",
						"content_text_1": "Многие из нас думают, что знают о себе многое. И в большинстве случаев концентрируются на своих недостатках, давайте посмотрим вместе ваши сильные стороны. Многие из нас думают, что знают о себе многое. И в большинстве случаев концентрируются на своих недостатках, давайте посмотрим вместе ваши сильные стороны.",
						"content_text_2": "Созваниваемся на 40 минут в Zoom и я помогаю вам осознать сильные стороны которые нужно развивать.",
						"card_title": "Результат сессии:",
						"card_text": "Вы получаете понимание о том, как достигнуть счастья и гармонии",
						"prop_text_1": "Время: <b>40 минут</b>",
						"prop_text_2": "Индивидуально",
						"bottom_text": "Именно эта кнопка <b>изменит</b> твою судьбу <b>в лучшую сторону</b>"
						})

						@@include('./tariffs_slide.html', {
						"title": "Он-лайн",
						"subtitle": "групповая программа ",
						"img": "img/index/section-tariffs/img_2.jpg",
						"banner": "online",
						"content_title_1": '“Денежный поток”',
						"content_text_1": "Вам кажется, что деньги не важны в вашей жизни и вы говорите “Не в деньгах счастье”",
						"content_text_2": "Меняем ограничивающие убеждения и отрицательные установки про деньги на позитивные",
						"card_title": "Результат программы",
						"card_text": "Вы получаете богатое мышление, которое позволит вам видеть финансовые возможности и использовать их в своё благо.",
						"prop_text_1": "Время: <b>60 дней</b>",
						"prop_text_2": "Группы по: <b>12 человек</b>",
						"bottom_text": "Группы <b>2 раза в месяц</b>, запуск групп с 1 по 5 и с 15 по 20 число."
						})
					</div>
				</div>
				<div class="tariffs__prev tariffs__arrow arrow button">
					<div class="button__inner">
						<img src="img/icons/arrow.svg" alt="">
					</div>
				</div>
				<div class="tariffs__next tariffs__arrow arrow button">
					<div class="button__inner">
						<img src="img/icons/arrow.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /TARIFFS -->