<div class="tariffs__slide slide-tariffs swiper-slide">
	<div class="slide-tariffs__top">
		<div class="slide-tariffs__title">
			@@title
		</div>
		<div class="slide-tariffs__subtitle">
			@@subtitle
		</div>
	</div>
	<div class="slide-tariffs__flex flex-slide-tariffs">
		<div class="flex-slide-tariffs__img">
			<img src="@@img" alt="">
			<div class="flex-slide-tariffs__banner flex-slide-tariffs__banner_@@banner">
				@@banner
			</div>
		</div>
		<div class="flex-slide-tariffs__content">
			<div class="flex-slide-tariffs__block">
				<div class="flex-slide-tariffs__title">@@content_title_1</div>
				<p class="flex-slide-tariffs__text">@@content_text_1</p>
			</div>
			<div class="flex-slide-tariffs__block">
				<div class="flex-slide-tariffs__title">Что делаем:</div>
				<p class="flex-slide-tariffs__text">@@content_text_2</p>
			</div>
		</div>
	</div>
	<div class="slide-tariffs__card card-slide-tariffs">
		<div class="card-slide-tariffs__title">
			<div class="card-slide-tariffs__icon">
				<img src="img/index/section-tariffs/icon_rocket.svg" alt="">
			</div>
			<span>@@card_title</span>
		</div>
		<p class="card-slide-tariffs__text">
			@@card_text
		</p>
	</div>
	<div class="slide-tariffs__props props-slide-tariffs">
		<div class="props-slide-tariffs__item">
			<div class="props-slide-tariffs__icon">
				<img src="img/index/section-tariffs/icon_clock.svg" alt="">
			</div>
			<p class="props-slide-tariffs__text">
				@@prop_text_1
			</p>
		</div>
		<div class="props-slide-tariffs__item">
			<div class="props-slide-tariffs__icon">
				<img src="img/index/section-tariffs/icon_people.svg" alt="">
			</div>
			<p class="props-slide-tariffs__text">
				@@prop_text_2
			</p>
		</div>
	</div>
	<p class="slide-tariffs__bottom">
		@@bottom_text
	</p>
	<a href="#popup_course" class="popup-link slide-tariffs__button button">
		<span class="slide-tariffs__button-inner button__inner">
			Записаться
		</span>
	</a>
</div>