<!-- COACHING -->
<section class="coaching">
	<div class="coaching__container-sm">
		<div class="coaching__body">
			<div class="coaching__uptitle">Что такое </div>
			<div class='coaching__outer'>
				<h2 class="coaching__title">гипно коучинг?</h2>
			</div>

			<div class="coaching__card card-coaching">
				<div class="card-coaching__element card-coaching__element_right">
					<img src="img/index/section-coaching/element_1.svg" alt="">
				</div>
				<div class="card-coaching__element card-coaching__element_left">
					<img src="img/index/section-coaching/element_2.svg" alt="">
				</div>
				<div class="card-coaching__clock">
					<img src="img/index/section-coaching/img_2.png" alt="">
				</div>
				<div class="card-coaching__img">
					<img src="img/index/section-coaching/img_1.png" alt="">
				</div>
				<div class="card-coaching__content">
					<div class="card-coaching__block">
						<div class="card-coaching__title">Коучинг - это метод обучения,</div>
						<p class="card-coaching__text">
							в процессе которого человек, называющийся «коуч», помогает обучающемуся достичь поставленной жизненной или
							профессиональной цели.
							В отличие от менторства, коучинг сфокусирован на достижении чётко определённых целей вместо общего
							развития.
						</p>
					</div>
					<div class="card-coaching__block">
						<div class="card-coaching__title">Гипно коучинг - </div>
						<p class="card-coaching__text">это инструмент с помощью которого наставник погружает человека в состояние
							транса, посредсвом гипноза. </p>
					</div>
				</div>
			</div>

			<div class="coaching__quote quote-coaching">
				<div class="quote-coaching__icon">
					<img width='89' height='97' src="img/index/section-coaching/img_3.svg" alt="">
				</div>
				<div class="quote-coaching__content">
					<p>
						<b>В таком состоянии человек находится в высшей степени концентрации,</b>
						это пограничное состояние между сном и бодрствованием.
					</p>
					<p>
						В этот момент происходит процесс работы, минуя защиту сознания и коуч общается с вашим подсознанием, задавая
						вопросы
						в стиле разговорного гипноза.
					</p>
					<p>
						Это происходит при помощи образов, чувств, ощущений и метафор.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- /COACHING -->