<section class="tasks" style='background-image: url("img/index/section-tasks/bg.svg")'>
	<div class="tasks__container-sm">
		<div class="tasks__body">
			<div class="tasks__element">
				<img src="img/index/section-tasks/element_1.svg" alt="">
			</div>
			<h2 class="tasks__title">
				<span style='color: #FFD17E'>Мои</span> ключевые задачи
			</h2>
			<div class="tasks__grid">
				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_1.svg",
				"text": "Помочь Вам научится дисциплине в удовольствии"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_2.svg",
				"text": "Настроить стабильный энергообмен и ресурсное состояние у Вас"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_3.svg",
				"text": "Получить конкретный результат от нашей работы"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_4.svg",
				"text": "Спокойно реагировать на любую ситуацию"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_5.svg",
				"text": "Точно оценивать ситуацию"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_6.svg",
				"text": "Правильно действовать в зависимости от ситуации"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_7.svg",
				"text": "Настраиваться на результат"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_8.svg",
				"text": "Доводить дело до конца"
				})

				@@include('./tasks_item.html', {
				"image": "img/index/section-tasks/img_9.svg",
				"text": "Уважать себя и окружающих в любой ситуации"
				})
			</div>
		</div>
	</div>
</section>