<!-- PROGRAMMES -->
<section class="programmes" id='programmes'>
	<div class="programmes__container">
		<div class="programmes__body">
			<div class="programmes__top">
				<div class="programmes__img">
					<img src="img/index/section-programmes/icon_1.svg" alt="">
				</div>
				<h2 class="programmes__title">
					<span>Он-лайн</span> индивидуальные программы
				</h2>
			</div>
			<div class="programmes__items">
				@@include('./programmes_item.html', {
				"name": '“Экстра погружение”',
				"icon": "img/index/section-programmes/icon_2.svg",
				"text_1": "Если у вас небольшой ступор в любой сфере",
				"text_2": "Выбираете тему из файла и оставляете заявку на сайте",
				"text_3": "Сразу после сессии подсознание включится, в течении суток придет ответ",
				"time": "30 минут"
				})

				@@include('./programmes_item.html', {
				"name": '“Быстрая проработка”',
				"icon": "img/index/section-programmes/icon_3.svg",
				"text_1": "Если у вас небольшой ступор в любой сфере",
				"text_2": "Выбираете тему из файла и оставляете заявку на сайте",
				"text_3": "Сразу после сессии подсознание включится, в течении суток придет ответ",
				"time": "1 час"
				})

				@@include('./programmes_item.html', {
				"name": '“Родовые проблемы вашей личности”',
				"icon": "img/index/section-programmes/icon_4.svg",
				"text_1": "Если у вас небольшой ступор в любой сфере",
				"text_2": "Выбираете тему из файла и оставляете заявку на сайте",
				"text_3": "Все негативные родовые установки будут отключены от вашей судьбы",
				"time": "2 месяца"
				})
			</div>
		</div>
	</div>
</section>
<!-- /PROGRAMMES -->