<div class="programmes__item item-programmes">
	<div class="item-programmes__name">
		@@name
	</div>
	<div class="item-programmes__icon">
		<img src='img/plug.png' data-src="@@icon" alt="">
	</div>
	<div class="item-programmes__content">
		<div class="item-programmes__block">
			<div class="item-programmes__title">Подойдет, если:</div>
			<div class="item-programmes__text">@@text_1</div>
		</div>
		<div class="item-programmes__block">
			<div class="item-programmes__title">Что делаем:</div>
			<div class="item-programmes__text">@@text_2</div>
		</div>
		<div class="item-programmes__block">
			<div class="item-programmes__title">Результат сессии:</div>
			<div class="item-programmes__text">@@text_3</div>
		</div>
	</div>
	<div class="item-programmes__time">
		<div class="item-programmes__time-icon">
			<img src='img/plug.png' data-src="img/index/section-programmes/icon_5.svg" alt="">
		</div>
		<div class="item-programmes__time-text">
			Время: <b>@@time</b>
		</div>
	</div>
	<a href="#popup_contact" class="popup-link item-programmes__button button">
		<div class="item-programmes__button-inner button__inner">Отправить заявку</div>
	</a>
</div>