<!-- INTRO -->
<section class="intro">
	<div class="intro__container">
		<div class="intro__body">
			<div class="intro__content">
				<h1 class="intro__title">
					<span class='intro__title-small'>Перестраиваю мышление</span>
					<span>на успех и богатство </span>
				</h1>
				<p class="intro__text">
					через погружение в транс <span>для каждого</span>
				</p>
				<div class="intro__img">
					<img  data-src="img/index/section-intro/img_1.png" alt="">
					<div class="intro__shadow">
						<img data-src="img/index/section-intro/shadow.png" alt="">
					</div>
				</div>
				<div class="intro__quote">
					Онлайн-программа гипно-коучинг, которая <span>изменит твою жизнь!</span>
				</div>
				<div class="intro__items">
					<div class="intro__item item-intro">
						<div class="item-intro__icon">
							<img data-src="img/index/section-intro/icon_1.svg" alt="">
						</div>
						<p class="item-intro__text">Станешь смелым</p>
					</div>

					<div class="intro__item item-intro">
						<div class="item-intro__icon">
							<img data-src="img/index/section-intro/icon_2.svg" alt="">
						</div>
						<p class="item-intro__text">Станешь думать
							как богатый человек</p>
					</div>

					<div class="intro__item item-intro">
						<div class="item-intro__icon">
							<img data-src="img/index/section-intro/icon_3.svg" alt="">
						</div>
						<p class="item-intro__text">Станешь счастливым
							и любимым</p>
					</div>
				</div>
				<div class="intro__flex flex-intro">
					<div class="flex-intro__title">
						<img src="img/icons/download.svg" alt="">
						<span>Скачай</span>
					</div>
					<p class="flex-intro__text">100 ограничивающих убеждений
						и страхов, о которох мало кто знает</p>
				</div>
				<a href="#popup_gift" class="popup-link intro__button button">
					<span class="intro__button-inner button__inner">
						Получить PDF файл
					</span>
					<img src="img/file.png" alt="">
				</a>
			</div>

		</div>
	</div>
</section>
<!-- /INTRO -->