<!-- DEVELOPMENT -->
<section class="development">
	<div class="development__container-sm">
		<div class="development__body">
			<h2 class="development__title">
				План развития на 10 лет —
			</h2>
			<div class="development__subtitle">
				это 100 000 человек успешных людей,
			</div>
			<p class="development__text">
				прошедших гипно коучинговую программу
				у меня и моих учеников
				в "Академии Успеха"
			</p>
			<div class="development__grid">
				@@include("./development_item.html", {
				"year": "2025",
				"icon": "img/index/section-development/icon_1.svg",
				"title": 'Создание и развитие "Академии успеха"',
				"text": "1-й выпуск учеников гипно коучей с официальным сертификатом академии"
				})
				@@include("./development_item.html", {
				"year": "2028",
				"icon": "img/index/section-development/icon_2.svg",
				"title": 'Запуск 3х филиалов "Академии успеха"',
				"text": "У академии есть офлайн школы в Москве и Санкт-Петербурге"
				})
				@@include("./development_item.html", {
				"year": "2030",
				"icon": "img/index/section-development/icon_3.svg",
				"title": "Российское признание гипно коучинговой программы обучения Андрея Кулагина",
				"text": ''
				})
				@@include("./development_item.html", {
				"year": "2033",
				"icon": "img/index/section-development/icon_4.svg",
				"title": 'Международное признание "Академии успеха"',
				"text": ""
				})
			</div>
			<div class='development__outer'>
				<a href="#popup_contact" class="popup-link development__button button">
					<span class='development__button-inner button__inner'>
						<img loading='lazy' src="img/icons/email.svg" alt="">
						<span>Подать заявку
							на обучение</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /DEVELOPMENT -->