<!-- DIPLOMAS -->
<section class="diplomas" id='diplomas'>
	<div class="diplomas__element">
		<img src='img/plug.png' data-src="img/index/section-diplomas/element.svg" alt="">
	</div>
	<div class="diplomas__container">
		<div class="diplomas__body">
			<h2 class="diplomas__title">
				Сертификаты и Дипломы
			</h2>
			<div class="diplomas__outer">
				<div class="diplomas__slider slider-diplomas swiper">
					<div class="swiper-wrapper">
						<div class="slider-diplomas__slide swiper-slide"><img loading='lazy'
								src="img/index/section-diplomas/img_2.jpg" alt="">
						</div>
						<div class="slider-diplomas__slide swiper-slide"><img loading='lazy'
								src="img/index/section-diplomas/img_1.jpg" alt="">
						</div>
						<div class="slider-diplomas__slide swiper-slide"><img loading='lazy'
								src="img/index/section-diplomas/img_3.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="diplomas__arrow diplomas__prev button arrow">
					<div class="button__inner">
						<img loading='lazy' src="img/icons/arrow.svg" alt="">
					</div>
				</div>
				<div class="diplomas__arrow diplomas__next button arrow">
					<div class="button__inner">
						<img loading='lazy' src="img/icons/arrow.svg" alt="">
					</div>
				</div>
			</div>
			<div class="diplomas__pagination"></div>
		</div>
	</div>
</section>
<!-- /DIPLOMAS -->