<!-- FEARS -->
<section class="fears" id='fears'>
	<div class="fears__container-sm">
		<div class="fears__body">
			<div class="fears__element fears__element_left">
				<img data-src="img/index/section-fears/element.svg" width='428' height='428' alt="">
			</div>
			<div class="fears__element fears__element_right">
				<img data-src="img/index/section-fears/element.svg" alt="" width='666' height='666'>
			</div>
			<div class="fears__uptitle">Часто встречающиеся</div>
			<div class="fears__top">
				<h2 class="fears__title">
					ограничивающие убеждения и страхи
				</h2>
				<a href="#popup_gift" class="popup-link fears__button button">
					<span class="fears__button-inner button__inner">
						Скачать полный список PDF-файл
					</span>
					<img src="img/file.png" alt="">
				</a>
			</div>
			<div class="fears__grid">
				@@include('./fears_item.html', {
				"style": "block",
				"icon": "img/index/section-fears/icon_1.svg",
				"title": "Приступы панических атак",
				"text": "За этими приступами прячется страх, избавление от которого поможет вам жить счастливо."
				})

				@@include('./fears_item.html', {
				"style": "block",
				"icon": "img/index/section-fears/icon_2.svg",
				"title": "Страх знакомства с людьми",
				"text": "За этим прячется ограничивающее убеждение, избавившись вы сможете стать уверенным в себе человеком"
				})

				@@include('./fears_item.html', {
				"style": "block",
				"icon": "img/index/section-fears/icon_3.svg",
				"title": "Страх больших денег",
				"text": "Это страхи и ограничивающие убеждения, проработав вы начнете зарабатывать и накапливать деньги."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_4.svg",
				"title": "Жалость к себе",
				"text": "Проработав вы начнете налаживать отношения на работе и в личной жизни."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_5.svg",
				"title": "Финансовый потолок",
				"text": "Проработав снимите блоки и зажимы. Сможете увеличить доходы и закрыть долги."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_6.svg",
				"title": "Откладывание дел на потом",
				"text": "Приобретете возможности действовать, решительность и начнете добиваться результата."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_7.svg",
				"title": "Долги и Деньги",
				"text": "Расплатитесь с долгами. Начнете зарабатывать и покроете любые потребности."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_8.svg",
				"title": "Чувство неполноценности",
				"text": "Найдете себя и своё предназначение. Станете целостной личностью."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_9.svg",
				"title": "Создание нужных Вам событий",
				"text": "Благодаря осознанию, как работает подсознание у меня получилось создать мою авторскую методику для разрешения ваших запросов."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_10.svg",
				"title": "Счастливый ребёнок",
				"text": "Поймёте, как воспитать и открыть талант Гения в ребёнке."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_11.svg",
				"title": "Я не могу распрощаться",
				"text": "С лёгкостью будете принимать правильные решения, уйдете с найма и начнете свой бизнес."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_12.svg",
				"title": "Психосоматика управляет",
				"text": "Научитесь находить силы в себе и управлять собой, жить станет в радость"
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_13.svg",
				"title": "Хочу похудеть, но...",
				"text": "Снимете блок к стройности, найдете путь которым легко сбросить и поддерживать тот вес, который вам нужен."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_14.svg",
				"title": "Публичные выступления и страх критики",
				"text": "Критика станет вашим помощником и сможете легко выступать перед любой аудиторией."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_15.svg",
				"title": "Вспыльчивость",
				"text": "Получите гармонию и спокойствие с собой и окружающими Уважение и радость начну вам сопутствовать"
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_16.svg",
				"title": "Страх, фобии и беспокойство",
				"text": "Получите доверие к тому, как течет и развивается ваша жизнь. Внутреннее состоянии счастья, уверенности, радости."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_17.svg",
				"title": "Стрессы, выгорания и кризисы",
				"text": "Получите счастье от жизни, работу в кайф, энергию, всё станет легко. Удачные переговоры и хорошее настроение."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_18.svg",
				"title": "Навязчивые мысли и чувства",
				"text": "Получите уверенность в отношениях, теплоту, страсть, возможность иметь ребёнка, решение со здоровьем, больше личной жизни. Чувство дружбыи море знакомств, уверенность за будущее."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_19.svg",
				"title": "Сексуальные проблемы",
				"text": "Получите здоровые отношения с достойным мужчиной. Сексуальное влечение у противоположного пола и счастливые отношения."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_20.svg",
				"title": "Хронические депрессивные состояния",
				"text": "Удовольствие от работы. Новых клиентов, уверенность в заказах, Привлечете инвестиции."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_21.svg",
				"title": "Реализация и приятие себя",
				"text": "Получите уверенности в себе. Новые убеждения будут двигать вас вперед и дадут новые возможности."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_22.svg",
				"title": "Пагубные привычки",
				"text": "Найдёте и выработаете новые полезные для жизни привычки и навыки. Которые заменят алкоголь, азарт и сигареты."
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_23.svg",
				"title": "Бизнес и карьера",
				"text": "Получите новое отношение к делу и продажам клиенты встанут в очередь зная что вы выполните свои обязательства лучше, чем ваши конкуренты"
				})

				@@include('./fears_item.html', {
				"style": "none",
				"icon": "img/index/section-fears/icon_24.svg",
				"title": "Травмы детства",
				"text": "Станете счастливым, выработаются новые нейронные связи. Спадут оковы детских страхов, вы полюбите своего внутреннего ребенка"
				})
			</div>
			<div class="fears__actions">
				<button class="fears__action fears__loadmore" type='button'>
					<div>Показать ещё <span class='fears__count'>(3)</span></div>
					<div class='fears__action-icon'>
						<img src="img/icons/arrow.svg" alt="">
					</div>
				</button>
				<button class="fears__action fears__hide" type='button' style='display: none;'>
					<div>Свернуть</div>
					<div class='fears__action-icon' style='transform: rotate(180deg);'>
						<img src="img/icons/arrow.svg" alt="">
					</div>
				</button>
			</div>
		</div>
	</div>
</section>
<!-- /FEARS -->