<!-- STEPS -->
<section class="steps">
	<div class="steps__container">
		<div class="steps__body">
			<h2 class="steps__title">
				<span class='steps__title-left'>ВСЕГО</span>
				<span class='steps__title-right'>ЧЕТЫРЕ ШАГА:</span>
			</h2>
			<div class="steps__items">

				<div class="steps__item item-steps">
					<div class="item-steps__element">
						<img src="img/index/section-steps/icon_1.svg" alt="">
					</div>
					<div class="item-steps__title">
						ОСТАВЛЯЕШЬ ЗАЯВКУ
						НА БЕЗ ОПЛАТНУЮ
						КОНСУЛЬТАЦИЮ</div>
					<p class="item-steps__text">
						Я свяжусь с тобой по указанным данным для уточнения даты
						и времени проведения консультации.
					</p>
				</div>

				<div class="steps__item item-steps">
					<div class="item-steps__element">
						<img src="img/index/section-steps/icon_1.svg" alt="">
					</div>
					<div class="item-steps__title">
						БЕЗ ОПЛАТНАЯ КОНСУЛЬТАЦИЯ
					</div>
					<p class="item-steps__text">Рассмотрим и разберем текущую ситуацию:</p>
					<ul class="item-steps__ul">
						<li class="item-steps__li">
							<span>Определим желаемые результаты</span>
						</li>
						<li class="item-steps__li">
							<span>Проанализируем причины проблемы</span>
						</li>
						<li class="item-steps__li">
							<span>Составим пошаговый план, который гарантированно решит твою проблему</span>
						</li>
					</ul>
				</div>

				<div class="steps__item item-steps">
					<div class="item-steps__element">
						<img src="img/index/section-steps/icon_1.svg" alt="">
					</div>
					<div class="item-steps__title">ЗАКЛЮЧАЕМ ДОГВОР</div>
					<ol class="item-steps__ol">
						<li class="item-steps__li">
							<span>После согласования деталей на консультации</span>
						</li>
						<li class="item-steps__li">
							<span>Мной составляется договор
								в двух экземплярах
								и подписывается каждой из сторон.</span>
						</li>
						<li class="item-steps__li">
							<span>Производите оплату удобным
								для вас способом.</span>
						</li>
					</ol>
				</div>

				<div class="steps__item item-steps">
					<div class="item-steps__element">
						<img src="img/index/section-steps/icon_1.svg" alt="">
					</div>
					<div class="item-steps__title">
						<span>Гарантированно</span> изменишь
						свою жизнь
						с помощью моей программы
					</div>
					<p class="item-steps__text">или верну деньги</p>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- /STEPS -->