<section class="contract" id='contract'>
	<div class="contract__container-sm">
		<div class="contract__body">
			<h2 class="contract__title">
				Гарантии
			</h2>
			<div class="contract__card card-contract">
				<div class="card-contract__content">
					<div class="card-contract__title">Даю 100% гарантию</div>
					<div class="card-contract__subtitle">Мы заключаем с тобой договор </div>
					<p class="card-contract__text">в котором прописываем цели
						к которым ты хочешь прийти и если мы с тобой
						их не достигаем я возвращаю 100% денежных средств.</p>
				</div>
				<div class="card-contract__img">
					<img src="img/index/section-contract/img_01.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>